# Conditional

## if

In [ ]:
# syntax if <conditional>: where conditional is boolean
        #<statement>
        #elif <conditional>:
        #<statement>
        #else:
        #<statement>

In [ ]:
a = 36
if a%2 == 0:
    print(f"{a} adalah bilangan genap")
else:
    print(f"{a} adalah bilangan ganjil")

In [ ]:
cities = ['Tokyo', 'Surabaya', 'Yogyakarta', 'Jakarta', 'Paris']

kota = "Jakarta"

if kota in cities:
    print(f"{kota} termasuk dalam list cities")

## nested if

In [ ]:
nilai = eval(input("Masukkan nilai :"))
if 0 <= nilai <= 100:
    if 80 <= nilai <= 100:
        print("Grade A")
    elif 70 <= nilai <= 80:
        print("Grade B")
    elif 60 <= nilai <= 70:
        print("Grade C")
    elif 40 <= nilai <= 60:
        print("Grade D")
    else:
        print("E")
else:
    print("Nilai tidak valid")

# Looping

## while loop

In [ ]:
# syntax while <conditional>: where conditional is boolean
            #<statement>
            #<statement>

In [50]:
o = 0
while o<10:
    print (o)
    o += 1 # o = o+1

0
1
2
3
4
5
6
7
8
9

## nested while

In [ ]:
e =1
g =1
while e <=10:
    while g <=10:
        print(f'{e} x {g} = {e*g}')
        g = g+1
    print ('='*10)
    e = e + 1
    g=1

## For Loop

In [ ]:
# syntax for <temp.value> in <set of value>:
            #<statement>
            #<statement>

In [ ]:
cities_1 = ['Tokyo', 'Surabaya', 'Yogyakarta', 'Jakarta', 'Paris','Manado']
for i in cities_1:
    print(i)

In [ ]:
h = 1
k = 1
for h in range(1,11):
    for k in range(1,11):
        print (f"{k} x {h} = {k*h}")
    print("=" *10)

In [57]:
angka = [1,2,3,4,5,6,7,8,9,10]

above_5 = []

for value in angka:
    if value > 5:
        above_5.append(value)
print(above_5)

[6, 7, 8, 9, 10]

In [60]:
d = {"azmi": 23,"hazia": 24}

In [61]:
d.keys()

dict_keys(['azmi', 'hazia'])

In [63]:
d.values()

dict_values([23, 24])

In [64]:
d.items()

dict_items([('azmi', 23), ('hazia', 24)])

In [72]:
for nama,umur in d.items():
    print (nama.capitalize() + ' berumur ' + str(umur) + ' tahun')

Azmi berumur 23 tahun
Hazia berumur 24 tahun

In [75]:
for idx,kota in enumerate(cities_1): #enumerate untuk menghasilkan index2
    print(str(idx) + " " + kota)
    print("=" * 10)

0 Tokyo
==========
1 Surabaya
==========
2 Yogyakarta
==========
3 Jakarta
==========
4 Paris
==========
5 Manado
==========

# Flow control statement

## Continue

In [51]:
p =0
for p in range(0,11):
    if p in [2,6,7,9]:
        continue
    print (p)

0
1
3
4
5
8
10

## Break

In [52]:
p =0
for p in range(0,11):
    if p in [2,6,7,9]:
        break
    print (p)

0
1