# Pengenalan Python

# Numerical Data Type : Integer, Float, Complex

In [3]:
# integer
angka = 7
print(angka)
print(type(angka))

angka = 10
print(angka)
print(type(angka))

7
<class 'int'>
10
<class 'int'>

In [9]:
# floating-point
angka_f = 7.2
print(angka_f)
print(type(angka_f))

angka_f = 4.9e-3
print(angka_f)
print(type(angka_f))

7.2
<class 'float'>
0.0049
<class 'float'>

In [7]:
#complex cth a+bi --> i=imajiner=akar -1

angka_kompleks = 2+5j
print(angka_kompleks)
print(type(angka_kompleks))

(2+5j)
<class 'complex'>

# String Data Type

In [15]:
#String : sequence of character

first_name = "Maulana Azmi"
last_name = "Izzuddin"
print(first_name + " "+last_name)
print(type(first_name + ""+last_name))

hari = 'jum\'at'
print(hari)

hari_1= """Senin
Selasa
Rabu
Kamis
Jumat
Sabtu
Minggu"""
print(hari_1)

Maulana Azmi Izzuddin
<class 'str'>
jum'at
Senin
Selasa
Rabu
Kamis
Jumat
Sabtu
Minggu

## Slicing string

Slicing a[p1:p2:p3] yang dimana  p1 : start (inclusive) p2: end (exclusive) p3 : step

In [24]:
print(first_name[8])
print(first_name[-2])
print(first_name[:7])
print(first_name[3:7])
print(first_name[3:7:2])

A
m
Maulana
lana
ln

## String Formatting f-string

In [26]:
print(f"Nama Saya adalah {first_name} {last_name}")

Nama Saya adalah Maulana Azmi Izzuddin

## User Input Program

In [30]:
nama = input("Masukkan nama Anda : ")
usia = input("Masukkan usia Anda : ")

print(f"Nama Saya adalah {nama} \nBerusia {usia} tahun")

Nama Saya adalah Azmi
berusia 23 tahun

# Boolean Data Type

In [36]:
print(100<=500)
print(type(True))
print(100>=500)
print(type(False))

True
<class 'bool'>
False
<class 'bool'>

# Variable Assignment

In [39]:
a=b=c=40
print(a,b,c)
print(f"a : {a}")
print(f"b : {b}")
print(f"c : {c}")

a,b,c = 1,2,3
print(a,b,c)
print(f"a : {a}")
print(f"b : {b}")
print(f"c : {c}")

40 40 40
a : 40
b : 40
c : 40
1 2 3
a : 1
b : 2
c : 3

# Operations

## Arithmetic Operations

In [44]:
a = 20
b = 3

print(f"hasil penjumlahan : {a + b}")
print(f"hasil pengurangan : {a - b}")
print(f"hasil perkalian : {a * b}")
print(f"hasil pembagian bulat : {a // b}")
print(f"hasil pembagian normal : {a / b}")
print(f"hasil pangkat : {a ** b}")
print(f"hasil sisa bagi : {a % b}")

hasil penjumlahan : 23
hasil pengurangan : 17
hasil perkalian : 60
hasil pembagian bulat : 6
hasil pembagian normal : 6.666666666666667
hasil pangkat : 8000
hasil sisa bagi : 2

## String Manipulations

In [51]:
first_name = "Maulana Azmi"
last_name = "Izzuddin"

print(f"Nama Saya adalah {first_name + ' ' +last_name}")
print("Nama Saya adalah " + first_name + ' ' +last_name)
print(first_name * 5)
print(first_name.capitalize())
print(first_name.upper())
print(first_name.lower())
print(first_name.swapcase())

Nama Saya adalah Maulana Azmi Izzuddin
Nama Saya adalah Maulana Azmi Izzuddin
Maulana AzmiMaulana AzmiMaulana AzmiMaulana AzmiMaulana Azmi
Maulana azmi
MAULANA AZMI
maulana azmi
mAULANA aZMI

## Comparison Operations

In [54]:
print(f"{a} == {b} (equal) : {a ==b}")
print(f"{a} != {b} (not equal) : {a !=b}")
print(f"{a} > {b} (greater than) : {a >b}")
print(f"{a} >= {b} (greater than equal) : {a >=b}")
print(f"{a} < {b} (less than) : {a <b}")
print(f"{a} <= {b} (less than equal) : {a <=b}")

20 == 3 (equal) : False
20 != 3 (not equal) : True
20 > 3 (greater than) : True
20 >= 3 (greater than equal) : True
20 < 3 (less than) : False
20 <= 3 (less than equal) : False

# List and Tuple

In [1]:
my_list = [1,2,3,'Azmi',True,(1,2,3)]
my_tuple = (1,2,3,'Azmi',True,(1,2,3))

print(type(my_list))
print(type(my_tuple))

#List ini adalah mutable
#Tuple ini adalah immutable

print(len(my_list))
print(len(my_tuple))

<class 'list'>
<class 'tuple'>
6
6
[3, 'Azmi', True, (1, 2, 3)]
[3, True]
(3, 'Azmi', True, (1, 2, 3))
[3, True]
[1, 2, 3, 'Azmi', False, (1, 2, 3)]
[1, 2, 3, 'Azmi', False, (1, 2, 3), 100]
[1, 2, 3, 100, 'Azmi', False, (1, 2, 3), 100]
[1, 2, 3, 'Azmi', False, (1, 2, 3), 100]
[1, 2, 3, (1, 2, 3), 100]
{'nama': 'Azmi', 'usia': '23', 'program': 'Data Science'}
<class 'dict'>
{'nama': 'Maulana Azmi', 'usia': '23', 'program': 'Data Science'}
{'nama': 'Maulana Azmi', 'usia': '23', 'program': 'Data Science', 'status': 'menikah'}

## Slicing List Tuple

In [2]:
print(my_list[2:7])
print(my_list[2:7:2])
print(my_tuple[2:7])
print(my_list[2:7:2])

[3, (1, 2, 3), 100]
[3, 100]
(3, 'Azmi', True, (1, 2, 3))
[3, 100]

## Change value list and tuple

In [3]:
my_list [4] = False
print(my_list)

# my_tuple[4] = False tidka bisa karena immutable, tidak bisa diubah

#print(my_tuple)

[1, 2, 3, (1, 2, 3), False]

## List Method

In [4]:
my_list.append(100)
print(my_list)
my_list.insert(3,100) #syntaxnya .insert(a,b) a : posisi dimana mau di insert b: valuenya
print(my_list)
my_list.remove(100)
print(my_list)
my_list.remove(my_list[3])
del my_list[3]
print(my_list)

[1, 2, 3, (1, 2, 3), False, 100]
[1, 2, 3, 100, (1, 2, 3), False, 100]
[1, 2, 3, (1, 2, 3), False, 100]
[1, 2, 3, 100]

# Dictionary

In [5]:
#dictionary adalah type data mutable sehingga bisa diubah
#dictionary = {key1:value1,key2:value2}
biodata = {"nama" : "Azmi",
            "usia": "23",
            "program":"Data Science"}

print(biodata)
print(type(biodata))
biodata['nama']= "Maulana Azmi"
print(biodata)
biodata['status'] = 'menikah'
print(biodata)

{'nama': 'Azmi', 'usia': '23', 'program': 'Data Science'}
<class 'dict'>
{'nama': 'Maulana Azmi', 'usia': '23', 'program': 'Data Science'}
{'nama': 'Maulana Azmi', 'usia': '23', 'program': 'Data Science', 'status': 'menikah'}